#footerMenu {
  background-color: rgb(71, 71, 228);
  color: yellow;
  display: flex;
}

#footerMenu div {
  margin: 10px;
}

.contactus {
  color: yellow;
  text-decoration: none;
}

.contactus:hover {
  text-decoration: underline;
}

